<md-dialog style="min-height: 90%; min-width: 70%" layout="column" layout-align="stretch">
  <form ng-cloak flex layout="column" layout-align="stretch">
    <md-toolbar flex="nogrow">
      <div layout="row" class="md-toolbar-tools">
        <h2 flex=50>{{currentMessage.senderName}}</h2>
        <div flex=50 layout="row" layout-align="end">
          <h2>{{currentMessage.timestamp}}</h2>
        </div>
        <md-divider></md-divider>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content flex="stretch" layout="column" >
      <div layout="column" class="md-dialog-content">
        <h2 style="border-style: solid; border-color: lightgrey; border-radius: 8px; padding: 16px" flex=10 >{{currentMessage.subject}}</h2>
        <div style="border-style: solid; border-color: lightgrey; border-radius: 8px" flex =90>
            <p style="white-space: pre-wrap; ;padding: 8px">
            {{currentMessage.message}}
            </p>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click='newReply(currentMessage)'>
        Reply
      </md-button>
      <md-button ng-click='cancel()'>
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>