<hgroup>
  <h1>CET Connect</h1>
</hgroup>
<div ng-controller="loginCon">
<form >
  <div class="group">
    <input type="text" ng-model="formModel.admissionNumber"><span class="highlight"></span><span class="bar"></span>
    <label>Admission Number</label>
  </div>
  <div class="group">
    <input type="password" ng-model="formModel.passwordLogin"><span class="highlight"></span><span class="bar"></span>
    <label>Password</label>
  </div>
  <button type="button" class="button buttonBlue" ng-click="login()">Login
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
</div>
<script src="loginController.js"></script>
<footer>
  <img src="res/lo.gif"></a>
</footer>

