
<div  layout="column" flex=100 layout-align="start">

     <style> 
        .autocomplete-custom-template li {
        border-bottom: 1px solid #ccc;
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        white-space: normal;
        }
        .autocomplete-custom-template li:last-child {
        border-bottom-width: 0;
        }
        .autocomplete-custom-template .item-title,
        .autocomplete-custom-template .item-metadata {
        display: block;
        line-height: 2;
        }
        .autocomplete-custom-template .item-title md-icon {
        height: 18px;
        width: 18px;
        }

    </style>

    <md-toolbar flex="nogrow" layout="row">
					<md-icon style="padding:6px">edit</md-icon>
                    <h2 flex="95" class="md-title ContentTitle">Compose Message</h2>
    </md-toolbar>
  
    <md-content layout="row" layout-align="center center"  flex=100 > 
        <md-card style="min-width:80%; margin-top:0px; border-radius: 6px;" layout="column">
            <md-card-content style="padding-top:16px" flex="80">
                <form flex layout="column">
                    <div layout ="row" layout-align="start start" class = "form-group">
                        <md-icon class="FormIcon">face</md-icon>
                            <md-autocomplete flex required
                            md-input-name="autocompleteField"
                            md-input-minlength="3"
                            md-input-maxlength="18"
                            md-no-cache="noCache"
                            md-selected-item="selectedItem"
                            md-search-text="searchText"
                            md-items="item in userList"
                            md-item-text="item.name"
                            md-require-match
                            md-floating-label="Recipient Id"
                            md-search-text-change="querySearch(searchText)"
                            ng-model="message.recipientId"
                            >
                        <md-item-template>
                            <span class="item-title">
                                <md-icon>face</md-icon>
                                <span> {{item.name}} </span>
                            </span>
                            <span class="item-metadata">
                                <span class="item-metastat">
                                    <strong>{{item.department + '  ' +item.post}}</strong>
                                </span>
                                <span class="item-metastat">
                                    {{item.userId}}
                                </span>
                            </span>
                        </md-item-template>
                        <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                            <div ng-message="required">You <b>must</b> enter a recipient</div>
                        </div>
                        </md-autocomplete>
                    </div>

                    <div layout ="row" layout-align="start start" class = "form-group">
                        <md-icon class="FormIcon">edit</md-icon>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Subject</label>
                            <input ng-model="message.subject">
                        </md-input-container> 
                    </div>


                    <div flex layout ="row" layout-align="start stretch" class = "form-group">
                        <md-icon class="FormIcon">email</md-icon>
                            <md-input-container flex class="md-block">
                            <label>Message</label>
                            <textarea ng-model="message.message" md-maxlength="1500" rows="6" md-select-on-focus></textarea>
                        </md-input-container>
                    </div>

                    
                    <div class="form-group" layout="row" layout-align="end" >
                            <md-button ng-disabled="messageWait" class="md-primary" ng-click='send()'>Send</md-button>
                            <md-button type="button"  ng-click='cancel()'>Cancel</md-button>
                    </div>

                    <md-progress-linear ng-show="messageWait" md-mode="indeterminate"></md-progress-linear>

                </form>

    
            </md-card-content>
        </md-card>
    </md-content>
    

</div>