<!doctype html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Getting Started</title>
		<script src="js/jquery.js"></script>
		<script src="js/styleLogin.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/controller.js"></script>
		<script src="js/angular-route.min.js"></script>

	  <link rel="stylesheet" href="css/styles.css" >
	</head>

	<body>
<!--------------------------------->
	
		<div class="container">
			<!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
			<div ng-view></div>
		</div>

<!--------------------------------->
	</body>

</html>
