.maxHeight{
    height:100%;
}

.NoMargin{
    margin: 0px;
}

.LoginCard{
    width:600px;
    height:350px;
}

.LoginText{
    font-size: x-large;
    margin: 0px;
    margin-top: 6px;
    color: #03A9F4;
    font-weight: 600;
}

.SideNavIcon{
    margin-right: 36px;
    color: #FF4081;
    font-size: 30px;
    height: 36px;
    width: 36px;
}

.SideNavText{

}

.SideNavEntry{
    padding: 15px;
}

.SideNavContainer{
    margin-left: 16px;
    margin-right: 16px;
}

.SideNavToolBar{
    margin-bottom: 8px;
}

.ContentTitle{
    font-weight: 400;
    margin-left: 8px;
    padding: 6px;
}

.ChannelListEntry{
    padding-top: 6px;
    padding-bottom: 6px;
}

.ListMargin{
    margin-left: 6px;
    margin-right: 6px;
}

div:focus {
    outline: none;
    border: 0;
 }

 .RoundedBorder{
     border: solid;
    border-color: lightgrey;
    border-radius: 20px;
 }

 .FormIcon{
    margin-left: 16px;
    margin-right: 16px;
    margin-top:8px;
    margin-bottom: 0px;
    padding: 8px;
 }

 .FormData{
     margin-top: 16px;
     margin-left: 30px;
     font-size:20px;
 }

