
<div  layout="column" flex=100 layout-align="start">

		<md-toolbar flex="nogrow" layout="row">
					<md-icon style="padding:6px">inbox</md-icon>
                    <h2 flex="95" class="md-title ContentTitle">Sent Item</h2>
        </md-toolbar>

		<md-content layout="column"  flex=100   layout-align="start">   
			<md-card style="min-width:80%; border-radius: 6px;" layout="column">
			<md-card-header flex="15">
					<md-card-header-text >
						<span class="md-title">Sent</span>
						<span class="md-subhead">View your sent messages.</span>
					</md-card-header-text>
			</md-card-header>                   
			<md-divider flex="noshrink" ></md-divider>
			<md-content style="min-height: 425px" layout="row"  flex=100 md-whiteframe=7 > 
				<md-list flex=100>
					<md-list-item layout-align="start start" ng-repeat="message in messages" md-ink-ripple="#0000FF">
							<div layout=row layout-align="start start" flex=80>
								<md-icon style="color: mediumvioletred" flex class="InboxIcon">markunread</md-icon>
								<div style="width:auto" layout="row" flex=90 ng-click="showMessage(message)">
									<div flex=20>
										<h5 class="md-title InboxSender" flex=60 >{{message.recipientName}}</h5>
									</div>
									<h1 class="md-subhead InboxSender InboxSubHeading">{{message.subject}}</h1>
								</div>
							</div>
							<div flex=20 style="text-align: end" > 
									<md-icon style="color: red" flex  class="InboxIcon" ng-click='delete(message.id)'>delete</md-icon>
							</div>
						<md-divider></md-divider>
					</md-list-item>
				</md-list>
			</md-content>

			</md-card>
		</md-content>

</div>

</div>

