<div layout ="row" flex=100 layout-align="center" style="overflow-y: scroll" >
  <div  layout="column" flex=100 layout-align="start" style="max-width: 80%;" >
    <md-expansion-panel-group md-component-id="panelGroup" multiple>

    <md-expansion-panel md-component-id="Users">
  
    <md-expansion-panel-collapsed>
      <div class="md-title">Users</div>
      <div class="md-summary">Add and remove users, registration controll, etc...</div>
      <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>
  
  
    <md-expansion-panel-expanded>
  
      <md-expansion-panel-header md-no-sticky="true">
        <div class="md-title">Users</div>
        <div class="md-summary"></div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
      </md-expansion-panel-header>
  
      <md-expansion-panel-content>
        <h4>Content</h4>
        <p>Put content in here</p>
      </md-expansion-panel-content>
  
      <md-expansion-panel-footer md-no-sticky="true">
        <div flex></div>
        <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
      </md-expansion-panel-footer>
  
    </md-expansion-panel-expanded>
  
  </md-expansion-panel>

  <md-expansion-panel md-component-id="Channels">
  
    <md-expansion-panel-collapsed>
      <div class="md-title">Channels</div>
      <div class="md-summary">Manage channels and their moderators...</div>
      <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>
  
  
    <md-expansion-panel-expanded>
  
      <md-expansion-panel-header md-no-sticky="true">
        <div class="md-title">Channels</div>
        <div class="md-summary"></div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
      </md-expansion-panel-header>
  
      <md-expansion-panel-content>
        <h4>Content</h4>
        <p>Put content in here</p>
      </md-expansion-panel-content>
  
      <md-expansion-panel-footer md-no-sticky="true">
        <div flex></div>
        <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
      </md-expansion-panel-footer>
  
    </md-expansion-panel-expanded>
  
  </md-expansion-panel>

  </md-expansion-panel>

  <md-expansion-panel md-component-id="OnlineUsers">
  
    <md-expansion-panel-collapsed>
      <div class="md-title">Online Users</div>
      <div class="md-summary">View current online users.</div>
      <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>
  
  
    <md-expansion-panel-expanded>
  
      <md-expansion-panel-header md-no-sticky="true">
        <div class="md-title">Online Users</div>
        <div class="md-summary"></div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
      </md-expansion-panel-header>
  
      <md-expansion-panel-content>
        <h4>Content</h4>
        <p>Put content in here</p>
      </md-expansion-panel-content>
  
      <md-expansion-panel-footer md-no-sticky="true">
        <div flex></div>
        <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
      </md-expansion-panel-footer>
  
    </md-expansion-panel-expanded>
  
  </md-expansion-panel>

  </md-expansion-panel>

  <md-expansion-panel md-component-id="Database">
  
    <md-expansion-panel-collapsed>
      <div class="md-title">Database</div>
      <div class="md-summary">Manage database and view its status, change routine parameters ...</div>
      <md-expansion-panel-icon></md-expansion-panel-icon>
    </md-expansion-panel-collapsed>
  
  
    <md-expansion-panel-expanded>
  
      <md-expansion-panel-header md-no-sticky="true">
        <div class="md-title">Database</div>
        <div class="md-summary"></div>
        <md-expansion-panel-icon></md-expansion-panel-icon>
      </md-expansion-panel-header>
  
      <md-expansion-panel-content>
        <h4>Content</h4>
        <p>Put content in here</p>
      </md-expansion-panel-content>
  
      <md-expansion-panel-footer md-no-sticky="true">
        <div flex></div>
        <md-button class="md-warn" ng-click="$panel.collapse()">Collapse</md-button>
      </md-expansion-panel-footer>
  
    </md-expansion-panel-expanded>
  
  </md-expansion-panel>
  </md-expansion-panel-group>
  <div>
<div>