
<div  layout="column" flex=100 layout-align="start">

		<md-toolbar flex="nogrow" layout="row">
					<md-icon style="padding:6px">inbox</md-icon>
                    <h2 flex="95" class="md-title ContentTitle">Inbox</h2>
        </md-toolbar>

		<div layout="column"  flex=100 style="width:100%;"  layout-align="start">     
            <md-content layout="row"  flex=100 md-whiteframe=7 style="margin: 8px" > 
                <md-list flex=100>
					<md-list-item layout-align="start start" ng-repeat="message in messages track by $index" md-ink-ripple="#0000FF">
							<div layout=row layout-align="start start" flex=80>
								<md-icon style="color: mediumvioletred" flex class="InboxIcon" ng-click="click('markunread')">markunread</md-icon>
								<div style="width:auto" layout="row" flex=90>
									<div flex=20>
										<h5 class="md-title InboxSender" flex=60 >{{message.senderName}}</h5>
									</div>
									<h1 class="md-subhead InboxSender InboxSubHeading">{{message.subject}}</h1>
								</div>
							</div>
							<div flex=20 style="text-align: end" > 
									<md-icon style="color:green" flex class="InboxIcon" ng-click=null>done</md-icon>
									<md-icon style="color: red" flex  class="InboxIcon" ng-click=null>delete</md-icon>
									<md-icon style="color: blueviolet" flex class="InboxIcon" ng-click=null>reply</md-icon>
							</div>
						<md-divider></md-divider>
					</md-list-item>
                </md-list>
            </md-content>
        </div>
</div>

</div>

