<div  layout="column" flex=100 layout-align="center center">

     <md-toolbar flex="nogrow" layout="row">
					<md-icon style="padding:6px">vpn_key</md-icon>
                    <h2 flex="95" class="md-title ContentTitle">Requests</h2>
    </md-toolbar>

     <md-card ng-cloak layout="column"  flex=100 style="width:80%; border-radius: 6px"  layout-align="start">     

         <md-card-header flex="15">
            <md-card-header-text >
                <span class="md-title">Verify Requests</span>
                <span class="md-subhead">The requests in channels which you are a moderator of will appear here</span>
            </md-card-header-text>
        </md-card-header>     

        <md-content ng-show="contentWait"  layout="column" flex=100 style="width: 100%" layout-align="center center"> 
                <md-progress-circular md-mode="indeterminate" md-diameter="40px">
                </md-progress-circular>
        </md-content>

        <md-content ng-show="!contentWait && noContent" layout="column" flex=100 style="width: 100%" layout-align="center center">
            <h5 class="md-headline">No Requests</h5>
        </md-content>
         
         
          <md-content ng-show="!contentWait && !noContent"  layout="row" layout-align="start start" flex=100 style="margin: 8px" > 
            <div layout="column"  layout-align="start stretch" flex>
            
            <md-content flex=100 > 
                <md-list>
                    <md-list-item layout-padding layout="row" layout-wrap ng-repeat="request in requestCollection">
						<md-list-item class="md-3-line">
							<small class="md-avatar">
								 <ng-letter-avatar width=42 height=42 shape="round" data={{request.channel}}></ng-letter-avatar>
                      		</small>
							<div class="md-list-item-text" layout="column">
								<h3>{{request.userName}}</h3>
								<h4>{{request.department+" "+ request.post}}</h4>
								<h4>{{request.channel+" Channel"}}</h4>
								<h5 style="margin-bottom:8px; font-weight:500;">{{request.title}}</h5>
								<p>{{request.message}}</p>
                                <div layout="row" layout-align="end">
                                    <div layout-padding style="margin-top: 16px" ng-show="request.wait">
                                        <md-progress-circular md-mode="indeterminate" md-diameter="20px">
                                        </md-progress-circular>
                                    </div>
                                    <md-button ng-click="accept(request)" ng-disabled="request.wait" md-no-ink class="md-primary">Accept</md-button>
                                    <md-button ng-click="reject(request)">Reject</md-button>
                                </div>
							</div>
							<md-divider></md-divider>
						</md-list-item>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
         </md-content>
     </md-card>



</div>

<!--
        <div class="container"style="margin-top:18px;margin-bottom: 18px" ng-controller="requestController"> 

            <div class="row">

                <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 col-xs-12 main" >

                    
                    <div class="panel panel-primary">
                          
                          <div class="panel-heading">
                                <h3 class="panel-title">Broadcast Requests</h3>
                                <div class="btn-group pull-right" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default" style="padding-right: 24px; padding-top:9px;padding-left: 24px" ng-click='prev()'>
                                            <span class="glyphicon glyphicon-chevron-left"></span></button>
                                        <button style=" padding-top:9px;padding-right: 24px; padding-left: 24px" type="button" class="btn btn-default"ng-click='next()'>
                                            <span class="glyphicon glyphicon-chevron-right" ></span>
                                        </button>
                                </div>
                          </div>
                          
                          <div class="panel-body">
                               <ul class="list-group">
				            	    <li ng-if="loaded" class="list-group-item" style="font-size: 16px">
                                       <div class="form-group">
                                            <label style="margin-bottom: 0px"> <span class="glyphicon glyphicon-user formIcon" ></span>{{request.userName}}</label> 
                                            <br>
                                            <label class="label-primary" style="margin-left: 6px;color:white;border-radius:10px;padding:4px; font-size: 12px">{{request.department}}</label>
                                            <label class="label-primary" style=" margin-left: 3px;font-size: 12px;color:white;border-radius:10px;padding:4px">{{request.post}}</label><br>
                                            <label class="label-success" style="margin-left: 6px;color:white;border-radius:10px;padding:4px; font-size: 12px">{{request.channel}}</label>
                                        </div>
                                        <div class="form-group" style="border-style: solid;border-color: lightgrey;border-radius: 3px;padding: 10px;">
                                            <p><b>{{request.title}}</b></p>
                                            <p style="white-space: pre-wrap">{{request.message}}</p>
                                        </div>
                                        <div class="form-group"  style="text-align: right">
                                                <div class="btn-group" role="group" aria-label="...">
                                                    <button type="button" class="btn btn-success" style="padding-right: 24px; padding-top:9px;padding-left: 24px" ng-click='accept()'>
                                                        <span class="glyphicon glyphicon-ok"></span></button>
                                                    <button style=" padding-top:9px;padding-right: 24px; padding-left: 24px" type="button" class="btn btn-primary"ng-click='reject()'>
                                                        <span class="glyphicon glyphicon-remove" ></span>
                                                    </button>
                                                </div>
                                        </div>
					                </li>
                                    <li ng-if="noContent" class="list-group-item" style="font-size: 16px">
                                        <div style="text-align: center" class="form-group">
                                             <label class="label-primary"style="border-radius: 30px;padding: 12px;color: white; margin: 120px;">Nothing here for now... </label> 
                                        </div>
                                    </li>
				                </ul>
                          </div>

                          <div class="panel-footer"> </div>

                    </div>
                    

                </div>


            </div>

        </div>
-->

