	

<div>
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Icons</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-11">
				<h1 class="page-header">Broadcasts</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-md-10">
				<div class="panel panel-default chat">
					<div style="padding-left:15px; padding-right:15px">
						<div class="row" >
							<div class="col-md-6 col-xs-6" >
								<div class="panel-heading" id="accordion"><svg class="glyph stroked sound on" ><use xlink:href="#stroked-sound-on"/></svg>Broadcasts</div>
							</div>
							<div class="col-md-6">
										<div class="dropdown pull-right" style="padding:15px">
												<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="border-color: #0995f9;min-width: 90px" ng-init="currentFilter='All'">
													{{currentFilter}}
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
													<li ng-repeat="channel in channels"><a ng-click=filterSelected(channel)>{{channel.name}}</a></li>
													<li role="separator" class="divider stock"></li>
													<li><a href="">Separated link</a></li>
												</ul>
										</div>
				
								
							</div>
						</div>
					</div>
					

					<div scroll-glue class="panel-body">
						<ul ng-repeat="broadcast in broadcastCollection" class="chatul">

							<li class="left clearfix chatulli">
								<span class="chat-img pull-left">
									<img src="/res/icon_place_holder.png" style="width:66px;height:66px" alt="Channel Avatar" class="img-circle" />
								</span>
								<div class="chat-body clearfix">
									<div class="header">
										<strong class="primary-font" ng-bind="broadcast.sender">John Doe</strong> <small class="text-muted" ng-bind="broadcast.timestamp">32 mins ago</small>
									</div>
									<p ng-bind="broadcast.message">
										Place Holder 
									</p>
								</div>
							</li>
						</ul>
					</div>
			
					<div class="panel-footer">
						
					</div>
				</div>
			</div><!--/.col-->
		</div><!--/.row-->

	</div>	<!--/.main-->

	<script>
		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	

</div>
