
<div  layout="column" flex=100 layout-align="start">

    <!--<div layout="row" flex-order=-1 flex-xs="100" flex-gt-xs=100 show-xs style="height:100%">-->
        
		<md-toolbar flex="nogrow" layout="row">
					<md-icon style="padding:6px">list</md-icon>
                    <h2 flex="95" class="md-title ContentTitle">Channels</h2>
        </md-toolbar>

		<div ng-show="channelWait" layout="column" flex=100 style="width: 100%" layout-align="center center"> 
			<md-progress-circular md-mode="indeterminate" md-diameter="40px">
			</md-progress-circular>
		</div>

		<div ng-show="!channelWait" layout="column"  flex=100 style="width:100%;"  layout-align="start">     
            <md-content layout="row" layout-padding flex=100 md-whiteframe=7 style="margin: 8px" > 
                <md-list flex=100>
					<md-list-item layout-padding layout-wrap layout="row"  ng-repeat="channel in channels_for_view">
							<small  class="md-avatar">
								<ng-letter-avatar width=42 height=42 shape="round" data={{channel.channelName}}></ng-letter-avatar>
							</small>
							<div style="width:100%" layout="row">
								<h5 flex=90>{{channel.channelName}}</h5>
								<md-switch flex ng-change="subChanged(channel.channelName, channel.status)"
										   ng-model="channel.status"
										   aria-label="switch">
								</md-switch>
							</div>
						<md-divider></md-divider>
					</md-list-item>
                </md-list>
            </md-content>
        </div>
</div>

</div>

