

<div layout="row" style="height: 100%; width: 100%" layout-align="center center"> 

	<md-card class="LoginCard" layout="column" flex-gt-xs="40" flex-xs="100">
		
		<md-card-header flex="20" layout="row">
            <md-card-header-text flex="100" class="md-title LoginText"  >Login</md-card-header-text>
		</md-card-header>

	  <md-card-content layout-gt-sm="column">
		      <div layout="row">
            <md-icon flex="10" style="margin: 16px;margin-right: 0px;">face</md-icon>
            <md-input-container class="md-block" flex>
              <label>Username</label>
              <input ng-model="payload.userId">
            </md-input-container>
          </div>
          <div layout="row">
              <md-icon flex="10" style="margin: 16px;margin-right: 0px;">lock</md-icon>
              <md-input-container class="md-block" flex>
                <label>Password</label>
                <input type="password"ng-model="payload.password">
              </md-input-container>
          </div>
           <div layout="row">
            <md-checkbox style="margin: 16px;margin-right: 0px;" ng-model="rememberMe" aria-label="Remember Me">
            Remember Me
            </md-checkbox>
          </div>
	  </md-card-content>
	  
    <md-card-actions layout="row" layout-align="end center">
		<md-button class="md-primary" ng-click="login()" ng-disabled="loginWait">Login</md-button>
		<md-button>Clear</md-button>
	  </md-card-actions>
    <div ng-show="loginWait">
      <md-progress-linear md-mode="indeterminate">
      </md-progress-linear>
    </div>
	</md-card>
</div>

